body {
    /* width: 1024px; */
    font-family: sans-serif;
}

/* HEADER */
/* **************************** */
header {
    position: relative;
}

h1 {
    position: absolute;
    top: 70px;
    left: 10px;
    color: white;
}


/* NAV principal */
header nav {
    background-color: blueviolet;
    /* border: 1px solid black;  */
}

.navbar-toggler {
    border: none;
}
.nav-link a {
    /* color: blueviolet; */    
}


.nav-item a:hover{
    color: blueviolet;
    background-color: white;
    border-radius: 5px;
}

/* BODY */
/* Section Who we are */
/* **************************** */

#who-we-are {    
    background-color: rgb(247, 243, 243);
    text-align: center;
}

#who-we-are article {
    text-align: justify;   
}

#who-we-are article img {
    float: left;
    padding-right: 5px;
}

#who-we-are aside{
    /* float: right; */
}


/* SECTION OUR SERVICES */
/* **************************** */

#services{
    /* display: flex;     */
    text-align: center;
}


#services h2{
    /* aqui quizas poner todos los h2 en center     */
    text-align: center;
}

#services article{
    /* width: 30%; */
    /* display: inline-block; */
    text-align: justify;
    /* margin: 5px; */
}

#services article i{
    color: blueviolet;
    border: solid rgb(180, 179, 179) 4px;
    border-radius: 50%;
    padding: 15px;
    margin: 15px 5px 0px 0px;
    font-size: 1.5rem;
    float: left;
    transition-duration: 1s;
}

#services article i:hover {
    color: white;
    background-color: blueviolet;
}

#services article div {
    width: 70%;
    display: inline-block;
}




/* SECTION PORTFOLIO */
/* **************************** */

#portfolio{
    background-color: rgb(247, 243, 243);
    text-align: center;
    padding: 20px 50px 60px;
}

#portfolio img{
    width: 200px;
    height: 150px;
    margin: 5px;
    /* padding: 5px; */
    transition-duration: 1s;    
}

#portfolio div{
    padding: 0;
}
/* animaciones de iamgenes */
#portfolio img:hover {
    transform: rotate(-20deg);
}
/* solo la imagen del medio */
#portfolio #img-5:hover {
    transform: rotate(180deg);
    border-radius: 40%;
}

/* SECTION CONTACT */
/* **************************** */
#contact h2, #contact h3{
    /* text-align: center; */
}

#contact iframe {
    border-radius: 50%; 
    /* float: left; */
    /* margin-left: 300px; */
    /* margin-right: 10px; */
}

/**** SECTION EMAIL - Formulario ****/
/* **************************** */
#mail{
    margin-top: 100px;
    background-color: rgb(135, 28, 236);
    background-image: url(../img/map-image.png);
    height: 5%;    
    color: white;
}

#mail h2{
    padding: 20px;
    /* text-align: center; */
}


#mail form div{  
    width: 250px;
    border-radius: 5px;
}

#mail form #submit{
    width: 100px;
    margin-left: 90px;
}




/**** FOOTER ****/
/* **************************** */
footer {
    background-color: blueviolet;
}

footer p{
    margin: 0;
    color: white;
    text-align: right;
}

footer a{
    color: white;
    /* text-decoration: none; */
}